.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



header {
  background: #3498db;
}
main {
  padding: 0 2rem;
}
.search-box {
  margin: 1rem;
  background: #fff;
  font-size: 1.3rem;
  border: none;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
          box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 0 2rem;
  width: calc(100% - 2rem);
  height: 4rem;
}
ul {
  padding: 0;
}
li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
}
li:hover {
  cursor: pointer;
}
li.unknown {
  background: #ffc6e5;
  color: #940050;
}
li.unknown:hover {
  background: #ffadd9;
}
li.known {
  background: #a0cfee;
  color: #16527a;
}
li.known:hover {
  background: #8bc4ea;
}
.favourites li:hover:before {
  content: '\00D7';
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  text-align: center;
  line-height: 1;
  font-size: 0.9rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #ff6347;
  border: solid 2px #fff;
  color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
          box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.favourites h4 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  color: #b3b3b3;
}
.favourites hr {
  border-bottom: 0;
  border-top: solid 1px #e6e6e6;
  margin: 1.75rem 0;
}
.credit {
  padding: 1rem 0;
  color: #b3b3b3;
}
.credit a {
  color: #3498db;
}
button {
  background: #d7d7d7;
  color: #3b3b3b;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border: solid 1px #c7c7c7;
  margin: 1rem 0;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
          box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border-radius: 3px;
  outline: none;
}
button:hover {
  background: #ddd;
}
